{% extends 'registration/base.htm' %}



{% block content %}
<div class="card-body login-card-body">
    {% if validlink %}
    <p class="login-box-msg">Set Password</p>

    <form method="post"> {% csrf_token %}
        {% for field in form %}
        <div class = "form-group">
          {{field.errors}}
          {{field.label_tag}}
          <input type = "password" id = "{{ field.id_for_label}}" name = "{{field.html_name}}" class = "form-control">
        </div>
        {% endfor %}
      <button type = "submit" class = "btn btn-block btn-primary"> Submit </button>
    </form>
    {% else %}
<d/>
    <p>The password for  this link has been expired </main> </p>
</div>
{% endif %}


{% endblock content %}