{% extends 'HODtemplates/base.htm' %}
{% load static %}

{% block title %} Manage {% endblock title %}

{% block page_title %} Manage Courses {% endblock page_title %}

{% block main_content %}
 <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Manage School Courses</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Course Name</th>
                        <th>Date Created</th>
                        <th>Perform Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for course in courses %}
                      <tr>
                        <td>{{course.id}}</td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.created_at}}</td>
                        <td><a href="{% url 'update-course' course.id %}" class="btn btn-warning">Edit Me</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
{% endblock main_content %}

{% block custom_script %} <script> console.log("we here @ staffs ") </script>{% endblock custom_script %}